<h1> <span style="color:green;"> <%= @player_1 %> </span> <span style="color:cyan;"> vs </span> <span style="color:purple";> <%= @player_2  %> </span> </h1>

<h2 style="color:green;"> <%= @player_1 %> hitpoints: 100 </h2>

<h2 style="color:purple";> <%= @player_2 %> hitpoints: 100  </h2>